
// box
.btn-box-1 {
  margin-top:40px;
  z-index:9;
  > div {
    display:flex;
    justify-content: space-between;
    &.two {
      button[type='button'].button {
        width:49%;
        padding:0;
      }
    }
    &.three {
      button[type='button'].button {
        width:31%;
        padding:0;
      }
    }
  }
}

.btn-box-2 {
  padding:35px 16px 30px 16px;
}

// button
button[type='button'].button,
a.button,
input[type='submit'] {
  // reset
  cursor: pointer;
  border-width: 0;
  border-style: solid;
  border-color: transparent;
  font-family: inherit;
  background: transparent;
  appearance: none;
  display: inline-block;
  line-height: 1.1;
  box-sizing: border-box;
  text-align: center;
  font-family: inherit;
  padding: 0 65px;
  height: 57px;
  line-height: 55px;
  color: $color-text;
  font-size: rem(18);
  text-align: center;
  transition: all ease-in-out 300ms;
  outline: none;

  // color
  &.color-1 {
    color:#fff;
    background-color:#ff5000;
    &:disabled {
      background-color:#c4c4c7;
      opacity: 0.5;
    }
  }
  &.color-2 {
    color:#fff;
    background-color:#4a4a4a;
  }

  // border
  &.border-1 {
    border:1px solid #ff5000;
  }

  // text
  &.text-1 {
    color:#ff5000;
  }

  // size
  &.small {
    padding:0 30px;
    font-size:rem(15);
  }

  // display
  &.block {
    display: block;
    width: 100%;
  }

}