
// box
.btn-box-1 {
  margin-top:40px;
  * {
    vertical-align: middle;
  }
  > div {
    display:flex;
    justify-content: space-between;
    &.two {
      button[type='button'].button {
        width:49%;
        padding:0;
      }
    }
    &.three {
      button[type='button'].button {
        width:31%;
        padding:0;
      }
    }
  }
  &.type-1 {
    padding-left:162px;
  }
}

.btn-box-2 {
  padding:35px 16px 30px 16px;
}
.btn-box-3 {
  margin-top:20px;
  text-align:right;
  &.mt-1 {
    margin-top:35px;
  }
}

// button
button[type='button'].button,
a.button,
input[type='submit'] {
  // reset
  cursor: pointer;
  border-width: 0;
  border-style: solid;
  border-color: transparent;
  font-family: inherit;
  background: transparent;
  appearance: none;
  display: inline-block;
  line-height: 1.1;
  box-sizing: border-box;
  text-align: center;
  font-family: inherit;
  padding: 0 65px;
  height: 57px;
  line-height: 55px;
  color: $color-text;
  font-size: rem(18);
  text-align: center;
  transition: all ease-in-out 300ms;
  outline: none;

  // color
  &.color-1 {
    color:#fff;
    background-color:#ff5000;
    &:disabled {
      background-color:#c4c4c7;
      opacity: 0.5;
    }
  }
  &.color-2 {
    color:#fff;
    background-color:#4a4a4a;
  }
  &.color-3 {
    color:#000;
    border:1px solid #c0c0c0;
  }
  &.color-4 {
    color:#000;
    border:2px solid #000;
  }
  &.color-5 {
    color:#fff;
    background-color:#000;
  }
  &.color-6 {
    color:#3e3e3e;
    background-color:#fff;
  }

  // border
  &.border-1 {
    border:1px solid #ff5000;
  }

  // text
  &.text-1 {
    color:#ff5000;
  }

  // size
  &.large {
    min-width:232px;
    height:61px;
    padding:0 45px;
    font-size:rem(21);
    font-weight:500;
    border-radius: 4px;
  }

  &.medium {
    height:51px;
    line-height:49px;
    padding:0 80px;
  }

  &.small {
    padding:0 30px;
    font-size:rem(15);
  }
  &.small-2 {
    height:48px;
    line-height:46px;
    padding:0 40px;
    font-size:rem(17);
    font-weight:500;
  }
  &.small-3 {
    width:111px;
    height:48px;
    line-height:46px;
    padding:0;
    font-size:rem(15);
    font-weight:500;
  }
  &.xsmall {
    height:31px;
    line-height:29px;
    padding:0 36px;
    font-size:rem(14);
  }
  &.xsmall-2 {
    height:29px;
    line-height:27px;
    padding:0 23px;
    font-size:rem(13);
    &.color-4 {
      border-width:1px;
    }
  }
  &.xsmall-3 {
    height:37px;
    line-height:35px;
    padding:0 16px;
    font-size:rem(15);
    &.color-4 {
      border-width:1px;
    }
  }

  // display
  &.block {
    display: block;
    width: 100%;
  }

}

// btn-more
.btn-more {
  margin-top:40px;
  text-align:center;
  > a {
    display:inline-block;
    width:52px;
    height:52px;
    background:#ff6700 url("../images/icon/icon_more.png") no-repeat center center;
    border-radius: 50%;
    @include fontNone;
    transition:all .2s ease-in-out;
    &:hover {
      transform: scale(1.1) rotate(-90deg);
    }
  }
}