// calendar
.calendar {
  margin-top:65px;
  .calendar-month {
    display:flex;
    align-items: center;
    margin-bottom:30px;
    strong {
      margin-right:15px;
      color:#000;
      font-size:rem(21);
      font-weight:700;
      line-height:30px;
    }
    button {
      height:30px;
      padding:5px 12px 0 12px;
      color:#0c0c0c;
      font-size:rem(12);
      line-height:1.1;
      background:#fff;
      border:1px solid #b2b2b2;
      border-radius: 2px;
      cursor: pointer;
      & + button {
        margin-left:3px;
      }
    }
  }
  .calendar-table {
    table {
      width:100%;
      border:1px solid #d7d7d7;
      text-align:center;
      th {
        height:30px;
        color:#000;
        font-size:rem(14);
        font-weight:500;
        background-color:#efefef;
        border:1px solid #d7d7d7;
        border-bottom:none;
      }
      td {
        height:113px;
        padding:13px 0 0 0;
        color:#717171;
        font-size:rem(12);
        line-height:1.2;
        border:1px solid #d7d7d7;
        vertical-align: top;
        .schedule {
          margin-top:20px;
          color:#ff6000;
          font-size:rem(16);
          strong {
            font-weight:700;
          }
        }
      }
    }
  }
}