// naon-text-1
.naon-text-1 {
  text-align:center;
  position:relative;
  span {
    display:block;
  }
  .text-1,
  .text-2,
  .fire {
    > span {
      position:absolute;
      top:0;
      left:0;
      right:0;
    }
  }
  .text-1 {
    .in {
      animation-name: naonTextIn;
      animation-duration: 1.5s;
      animation-direction: reverse;
      animation-iteration-count: infinite;
    }
  }
  .text-2 {
    .in {
      animation-name: naonTextIn;
      animation-duration: 3s;
      animation-delay: .3s;
      animation-iteration-count: infinite;
    }
  }
  .fire {
    > span {
      opacity: 0;
    }
    &.active {
      > span {
        opacity: 1;
        transition:all .3s ease-in-out;
        transition-delay: 1s;
      }
    }
  }

  @keyframes naonTextIn {
    0% {
      opacity:.6;
    }
    5% {
      opacity:.4;
    }
    10% {
      opacity:1;
    }
    20% {
      opacity:.1;
    }
    30% {
      opacity:.8;
    }
    70% {
      opacity:1;
    }
  }

}

// gmoney-box
.gmoney-box {
  position:relative;
  .money {
    width:81.2%;
    margin:0 auto;
    animation-name: moneyBounce;
    animation-duration: 1s;
    animation-iteration-count: infinite;
  }
  > div:not(.money) {
    position:absolute;
    text-align:center;
  }
  .text {
    bottom:-4%;
    left:0;
    right:0;
    animation-name: textBounce;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    img {
      width:31.466%;
    }
  }
  .hand-lef {
    bottom:-3%;
    left:20.1%;
    width:13.2%;
    animation-name: handLeft;
    animation-duration: 1s;
    animation-iteration-count: infinite;
  }
  .hand-rig {
    bottom:6%;
    right:19.2%;
    width:13.866%;
    animation-name: handRight;
    animation-duration: 1s;
    animation-iteration-count: infinite;
  }

  @keyframes moneyBounce {
    0% {
      transform: translateY(0);
    }
    20% {
      transform: translateY(-10px);
    }
    40% {
      transform: translateY(0);
    }
    60% {
      transform: translateY(-10px);
    }
    90% {
      transform: translateY(0);
    }
  }
  @keyframes textBounce {
    0% {
      transform: scale(1);
    }
    20% {
      transform: scale(1.1);
    }
    40% {
      transform: scale(1);
    }
    60% {
      transform: scale(1.1);
    }
    90% {
      transform: scale(1);
    }
  }
  @keyframes handLeft {
    0% {
      margin-left:0;
    }
    20% {
      margin-left:-10px;
      transform: rotate(-20deg);
    }
    40% {
      margin-left:0;
    }
    60% {
      margin-left:-10px;
      transform: rotate(-20deg);
    }
    90% {
      margin-left:0;
    }
  }
  @keyframes handRight {
    0% {
      margin-right:0;
    }
    20% {
      margin-right:-10px;
      transform: rotate(20deg);
    }
    40% {
      margin-right:0;
    }
    60% {
      margin-right:-10px;
      transform: rotate(20deg);
    }
    90% {
      margin-right:0;
    }
  }
}

// guide-box
.guide-box {
  padding:30px 12.8% 0 12.8%;
}

// share-box
.share-box {
  position:relative;
  margin:30px 3.733% 0 3.733%;
  .box {
    animation-name: shareBox;
    animation-duration: 1.6s;
    animation-delay: 4s;
    animation-iteration-count: infinite;
  }
  .list {
    position:absolute;
    top:18%;
    left:5%;
    right:5%;
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    > li {
      width:20%;
    }
  }

  @keyframes shareBox {
    0% {
      opacity:.6;
    }
    5% {
      opacity:.2;
    }
    10% {
      opacity:.9;
    }
    20% {
      opacity:.1;
    }
    30% {
      opacity:.8;
    }
    70% {
      opacity:1;
    }
  }
}

// bot-coin
.bot-coin {
  margin-top:22px;
}

// coin-area
.coin-area {
  > p {
    position:absolute;
    top:-1000px;
    transition:top 1s cubic-bezier(0,.7,.2,.99);
    &.coin-1 {
      left:17.33%;
      width:10.4%;
    }
    &.coin-2 {
      right:9.6%;
      width:8.66%;
    }
    &.coin-3 {
      left:0;
      width:5.866%;
    }
    &.coin-4 {
      right:0.533%;
      width:16%;
    }
    &.coin-5 {
      left:0;
      width:12.8%;
    }
    &.coin-6 {
      right:0;
      width:15.2%;
    }
    &.coin-7 {
      left:5%;
      width:60%;
    }
    &.coin-8 {
      left:50%;
      width:60%;
    }
  }

  // load
  &.load {
    > p {
      &.coin-1 {
        top:29.8%;
        transition-delay: .15s;
      }
      &.coin-2 {
        top:27.2%;
        transition-delay: .15s;
      }
      &.coin-3 {
        top:38.6%;
        transition-delay: .2s;
      }
      &.coin-4 {
        top:21.2%;
        transition-delay: .1s;
      }
      &.coin-5 {
        top:14%;
      }
      &.coin-6 {
        top:40.8%;
        transition-delay: .2s;
      }
      &.coin-7,
      &.coin-8 {
        top:200%;
        transition-delay: .2s;
        transition-duration: 2.3s;
      }
    }
  }
}

// btn-join
.btn-join {
  position:fixed;
  bottom:0;
  right:0;
  left:1.8%;
}

// layer-box
.layer-box {
  position:fixed;
  top:0;
  left:0;
  right:0;
  bottom:0;
  opacity: 0;
  z-index: -1;
  transition:all .2s ease-in-out;
  > div {
    position:absolute;
    left:0;
    right:0;
    height:50%;
    transition:all .3s ease-in-out;
    &.top {
      top:-50%;  
      background:url("../images/layer_img_top.png") no-repeat center bottom;
      background-size:cover;
      .close {
        position:absolute;
        top:22px;
        right:24px;
        width:7.6%;
      }
    }
    &.foot {
      bottom:-50%;
      background:url("../images/layer_img_bottom.png") no-repeat center top;
      background-size:cover;
      .btn-send {
        position:absolute;
        bottom:-300px;
        right:0;
        left:1.8%;
        transition:all .3s ease-in-out;
      }
    }
  }

  // active
  &.active {
    opacity:1;
    z-index:100;
    > div {
      &.top {
        top:0;
        animation-duration: 1s;
        animation-delay: .1s;
        animation-name: bounceTop;
      }
      &.foot {
        bottom:0;
        animation-duration: 1s;
        animation-delay: .1s;
        animation-name: bounceFoot;
        .btn-send {
          bottom:0;
          transition-delay: .33s;
        }
      }
    }
  }

  @keyframes bounceTop {
    0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
    40% {transform: translateY(-30px);}
    60% {transform: translateY(-20px);}
  } 
  @keyframes bounceFoot {
    0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
    40% {transform: translateY(30px);}
    60% {transform: translateY(20px);}
  } 
}