// detail _ 컨텐츠 상세
.detail-top {
  display:flex;
  justify-content: space-between;
  .movie-coment {
    flex:1;
    .coment {
      margin-top:15px;
      padding:20px 20px 20px 22px;
      color:#3e3e3e;
      font-size:rem(18);
      line-height:1.5;
      background-color:#f5f5f5;
    }
  }
  .con-summary {
    position:relative;
    width:553px;
    padding:0 0 0 20px;
    .summary {
      padding:20px 0 0 30px;
      .photo {
        width:121px;
        height:121px;
        border-radius: 50%;
        overflow: hidden;
      }
      .usersel-box {
        position:absolute;
        top:9px;
        right:3px;
        display:flex;
        a {
          width:27px;
          height:26px;
          margin-left:20px;
          background-repeat: no-repeat;
          background-position:center center;
          &.favorite {
            background-image:url("../images/icon/icon_detail_favorite_off.png");
            &.active {
              background-image:url("../images/icon/icon_detail_favorite_on.png");
            }
          }
          &.like {
            background-image:url("../images/icon/icon_detail_like_off.png");
            &.active {
              background-image:url("../images/icon/icon_detail_like_on.png");
            }
          }
          &.sns {
            background-image:url("../images/icon/icon_detail_sns.png");
          }
        }
      }
      .tag {
        margin-top:35px;
        p {
          display:inline-block;
          padding:5px 7px 5px 7px;
          color:#fff;
          font-size:rem(12);
          line-height:1.2;
          background-color:#0d0e12;
          border-radius:2px;
        }
      }
      .title {
        margin-top:10px;
        color:#000;
        font-size:rem(32);
        font-weight:700;
        line-height:1.2;
      }
      .time {
        margin-top:20px;
        color:#000;
        font-size:rem(16);
        line-height:1.5;
        strong {
          font-weight:700;
        }
      }
      .quota {
        margin-top:20px;
        color:#000;
        font-size:rem(16);
        font-weight: 700;
        strong {
          color:#fe6600;
          font-weight: 700;
        }
      }
      .mem-like-reply {
        margin-top:28px;
        > p {
          display:inline-block;
          padding:0 0 0 28px;
          color:#000;
          font-size:rem(14);
          line-height:20px;
          background-repeat: no-repeat;
          background-position: 0 center;
          & + p {
            margin-left:35px;
          }
          &.mem {
            background-image:url("../images/icon/icon_member02.png");
          }
          &.like {
            background-image:url("../images/icon/icon_like02.png");
          }
          &.reply {
            background-image:url("../images/icon/icon_reply.png");
          }
        }
      }
    }
    .price {
      display:flex;
      flex-wrap:wrap;
      justify-content: space-between;
      align-items:center;
      margin-top:25px;
      padding:25px 0 0 30px;
      border-top:1px solid #dfdfdf;
      .num {
        color:#000;
        font-size:rem(16);
        font-weight:500;
        line-height:1.2;
        strong {
          font-size:rem(28);
          font-weight:700;
        }
      }
      .join {
        width:100%;
        margin-top:25px;
      }
    }
  }
}

.detail-content {
  margin-top:60px;
  .con-inner {
    padding:65px 70px 50px;
    > div {
      display:none;
    }

    .class-intro {
      padding:50px 0;
      border-top:1px solid #000;
      border-bottom:1px solid #000;
    }
  }
}

// lineup-sel
.lineup-sel {
  display:flex;
  justify-content: space-between;
  align-items: center;
  padding:10px 0 0 0;
  > ul {
    display:flex;
    > li {
      & + li {
        margin-left:30px;
      }
      a {
        display:block;
        padding-bottom:6px;
        color:#000;
        font-size:rem(14);
        font-weight:500;
        line-height:1.2;
        border-bottom:2px solid transparent;
        &.active {
          border-color:#fe6600;
        }
      }
    }
  }
}

// 수강신청
.apply-box-1 {
  display:flex;
  justify-content: space-between;
  padding:0 70px 50px 20px;
  > div {
    width:332px;
    &:first-child {
      width:800px;
    }
  }

  .pay-chioce {
    margin-top:40px;
    text-align:center;
    > div {
      display:none;
      .radiobox-1 + .radiobox-1 {
        margin-left:60px;
      }
    }
  }
}

.apply-box-2 {
  padding:25px 50px 30px;
  border-top:2px solid #000;
  border-bottom:1px solid #7f7f7f;
  .btn-box-1 {
    margin-top:0;
  }
}


// search-box-1
.search-box-1 {
  position:relative;
  width:384px;
  height:43px;
  border:1px solid #b0b0b0;
  border-radius:18px;
  input[type=text] {
    width:100%;
    height:41px;
    padding:0 50px 0 28px;
    color:#818181;
    font-size:rem(16);
    border:none;
    background:none;
    outline: none;
  }
  button {
    position:absolute;
    top:0;
    right:0;
    bottom:0;
    width:50px;
    padding:0;
    border:none;
    background:none;
    cursor: pointer;
    outline: none;
  }
}

// box-type
.box-type-1 {
  padding:40px;
  border-bottom:1px solid #000;
}

// lecture _ watching
.watching {
  position:relative;
  display:flex;
  height:100%;
  overflow: hidden;
  .movie-info {
    flex:1;
    display: flex;
    flex-flow: column;
    height:100%;
    background-color:#fff;
    .movie {
      position:relative;
      flex:1;
      display:flex;
      background-color:#000;
      iframe {
        width:100%;
        height:100%;
      }
      .scene {
        flex:1;
        display: flex;
        justify-content: center;
        align-items:center;
        .camera-off {
          text-align:center;
          p {
            margin-top:23px;
            color:#fff;
            font-size:rem(30);
            font-weight:700;
            line-height:1.2;
            opacity: 0.3;
          }
        }
      }
      .camera-controls {
        position:absolute;
        top:25px;
        right:20px;
        display:flex;
        align-items: center;
        > a {
          width:29px;
          height:26px;
          margin-left:25px;
          background-repeat:no-repeat;
          background-position: center center;
          &.camera {
            &.on {
              background-image: url("../images/icon/icon_camera_on.png");
            }
            &.off {
              background-image: url("../images/icon/icon_camera_off.png");
            }
          }
          &.divide {
            background-image: url("../images/icon/icon_divide.png");
          }
          &.out {
            background-image: url("../images/icon/icon_out02.png");
          }
        }
        .num {
          width:19px;
          height:17px;
          line-height:15px;
          color:#fff;
          font-size:rem(10);
          border:1px solid #fff;
          text-align:center;
        }
      }
      .controls {
        position:absolute;
        bottom:0;
        left:0;
        right:0;
        display:flex;
        flex-wrap:wrap;
        justify-content: space-between;
        height:44px;
        padding:0 4px;
        .progressbar {
          width:100%;
          height:3px;
          background-color:#858585;
          .timer {
            height:3px;
            background-color:#f12b24;
          }
        }
        .play-volume {
          display:flex;
          align-items: center;
          height:36px;
          > a {
            width:21px;
            height:21px;
            margin:0 10px;
            background-repeat: no-repeat;
            background-position:center center;
            &.play {
              background-image: url("../images/icon/video_icon_play.png");
            }
            &.pause {
              background-image: url("../images/icon/video_icon_pause.png");
            }
            &.volume {
              background-image: url("../images/icon/video_icon_volume.png");
            }
          }
          .time {
            margin-top:-2px;
            color:#fff;
            font-size:rem(10);
            font-weight:700;
          }
        }
        .setting-full {
          display:flex;
          align-items: center;
          height:36px;
          > a {
            width:23px;
            height:21px;
            margin:0 8px;
            background-repeat: no-repeat;
            background-position:center center;
            &.reverse {
              background-image:url("../images/icon/video_icon_reverse.png");
            }
            &.setting {
              background-image:url("../images/icon/video_icon_setting.png");
            }
            &.full {
              width:25px;
              background-image:url("../images/icon/video_icon_full.png");
            }
          }
        }
      }
      .coment-box {
        position:absolute;
        top:50%;
        left:50%;
        transform:translate(-50%, -50%);
        text-align:center;
        .text-1 {
          color:#fff;
          font-size:rem(28);
          font-weight:700;
          line-height:1.6;
        }
        .text-2 {
          margin-top:15px;
          color:#747474;
          font-size:rem(28);
        }
        .text-time {
          margin-top:15px;
          color:$color-point;
          font-size:rem(28);
          font-weight:700;
        }
        .btn {
          margin-top:30px;
        }
      }
    }
    .info {
      position: relative;
      height:125px;
      padding:35px 0 0 140px;
      .image {
        position:absolute;
        top:17px;
        left:32px;
        width:77px;
        height:77px;
        border-radius: 50%;
        overflow: hidden;
        img {
          width:100%;
          object-fit: cover;
        }
      }
      .tit {
        color:#0d0e10;
        font-size:rem(18);
        font-weight:500;
        line-height:1.2;
      }
      .name-member {
        display:flex;
        align-items: center;
        margin-top:15px;
        .name {
          color:#525252;
          font-size:rem(16);
          line-height:1.2;
        }
        .mem {
          margin-left:40px;
          padding:0 0 0 28px;
          color:#000;
          font-size:rem(14);
          line-height:20px;
          background:url("../images/icon/icon_member02.png") no-repeat 0 center;
          background-size:16px auto;
          strong {
            color:$color-point;
          }
        }
        .date-hit {
          margin-left:30px;
          color:#000;
          font-size:rem(16);
          line-height:1.2;
          span + span {
            position: relative;
            margin-left:6px;
            padding-left:12px;
            &:before {
              content:'';
              display:block;
              position:absolute;
              top:5px;
              left:0;
              width:1px;
              height:16px;
              background-color:#888;
            }
          }
        }
      }
      .out-mem-like {
        position:absolute;
        top:35px;
        right:25px;
        padding:40px 0 0 0;
        .btn-out {
          position:absolute;
          top:0;
          right:0;
          display:inline-block;
          padding:0 33px 0 0;
          color:#000;
          font-size:rem(15);
          font-weight:500;
          background:url("../images/icon/icon_out.png") no-repeat right center;
        }
        > p {
          display:inline-block;
          padding:0 0 0 28px;
          color:#000;
          font-size:rem(14);
          line-height:20px;
          background-repeat: no-repeat;
          background-position: 0 center;
          & + p {
            margin-left:15px;
          }
          &.mem {
            background-image:url("../images/icon/icon_member02.png");
          }
          &.like {
            background-image:url("../images/icon/icon_like02.png");
          }
        }
      }
      .out-list {
        position:absolute;
        top:35px;
        right:25px;
      }
    }
  }

  // .chatting {
  //   width:0;
  //   transition: all .3s ease-in-out;
  // }

  // .btn-chat {
  //   display:block;
  //   position:absolute;
  //   top:0;
  //   right:0;
  //   width:70px;
  //   height:60px;
  //   background:url("../images/icon/btn_arrow03_left.png") no-repeat center center;
  //   transition: right .3s ease-in-out;
  // }


  // &.with-chat {
  //   .chatting {
  //     width:340px;
  //   }
    
  //   .btn-chat {
  //     right:270px;
  //     background-image:url("../images/icon/btn_arrow03_right.png");
  //   }
  // }
}

// lecture _ board
.board-wrap {
  display:flex;
  flex-flow: column;
  min-height:100%;
  padding:50px 9% 0 95px;
  background-color:#fff;
  overflow-x:hidden;
  overflow-y:auto;
}

.board-view {
  border-top:1px solid #7a7a7a;
  border-bottom:1px solid #e5e5e5;
  .title-user {
    padding:20px 0 12px 38px;
    color:#161616;
    line-height:1.2;
    border-bottom:1px solid #7a7a7a;
    background-color:#f5f5f5;
    .title {
      font-size:rem(18);
      font-weight:700;
    }
    .user {
      display:flex;
      align-items: center;
      margin-top:15px;
      font-size:rem(15);
      .image {
        width:29px;
        height:29px;
        border-radius: 50%;
        overflow: hidden;
        img {
          width:100%;
        }
      }
      .name {
        font-weight:700;
      }
      .date {
        margin-left:20px;        
      }
    }
  }
  .con {
    padding:30px 40px;
    color:#161616;
    font-size:rem(16);
    line-height:1.3;
    img {
      max-width:100%;
    }
  }

  .reply {
    border-top:1px solid #e5e5e5;
    .title-user {
      border-bottom:none;
      background-color:#fff;
    }
    .con {
      padding:10px 40px 30px;
    }
  }
}

// mypage _ 개인정보수정
.user-modify-write {
  padding:20px 0 0 0;
  > div {
    display:flex;
    align-items: center;
    width:680px;
    margin-top:20px;
    > label,
    > .text-none {
      width:163px;
      color:#000;
      font-size:rem(15);
      font-weight: 500;
    }
    .form-input {
      margin-bottom:0;
    }
    &.text-1 {
      padding:0 0 45px 163px;
      color:#6a6a6a;
      font-size:rem(14);
      line-height:1.2;
    }
    &.email {
      color:#5f5f5f;
      font-size:rem(12);
      .form-input-group {
        > * {
          & + * {
            margin-left:5px;
          }
        }
      }
    }
  }
}

// mypage _ 내쿠폰
.mycoupon-title {
  position:relative;
  > span {
    position:relative;
    display:inline-block;
    padding:0 22px 0 22px;
    line-height:38px;
    color:#000;
    font-size:rem(14);
    font-weight:700;
    border:1px solid #9e9e9e;
    border-bottom-color: #fff;
    z-index: 2;
    strong {
      color:#e94e1a;
      font-weight:700;
    }
  }
  &:before,
  &:after {
    content:'';
    display:block;
    position:absolute;
    left:0;
    right:0;
    height:1px;
  }
  &:before {
    top:0;
    background-color:#efefef;
  }
  &:after {
    bottom:0;
    background-color:#c1c1c1;
  }
}

// customer _ 이용약관
.customer-agree {
  > div {
    display:none;
    color:#6e6e6e;
    font-size:rem(15);
    line-height:1.4;
    white-space: pre-wrap;
  }
}

// customer _ FAQ
.customer-faq-search {
  display:flex;
  justify-content: space-between;
  margin-top:45px;
  .search-box-1 {
    width:662px;
  }
  .btn {
    width:218px;
  }
}
.customer-faq {
  > div {
    display:none;
  }
}

// customer _ 1:1문의하기
.customer-1vs1 {

  .customer-1vs1-write {
    width:1140px;
    margin:40px auto 0;
    padding:20px 0 40px 112px;
    border-top:1px solid #d1d1d1;
    border-bottom:1px solid #d1d1d1;
    > div {
      display:flex;
      align-items: center;
      margin-top:20px;
      > label,
      > .text-none,
      > .text-label {
        width:200px;
        color:#000;
        font-size:rem(15);
        font-weight: 500;
      }
      .text-label {
        align-self: flex-start;
      }
      .form-input {
        margin-bottom:0;
      }
      .text-box {
        p {
          margin-bottom:15px;
          color:#838383;
          font-size:rem(15);
          line-height:1.4;
        }
        .checkbox {
          label {
            font-size:rem(16);
            font-weight:500;
          }
        }
      }
    }
  }
}