<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8">
  <title><!--@@var title-->NOW BEGIN</title>

  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="description" content="">
  <meta name="keywords" content="">

  <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
  <meta name="format-detection" content="telephone=no">
  <!-- <link rel="alternate" href="http://" hreflang="ko" /> -->

  <meta property="og:title" content="">
  <meta property="og:description" content="">
  <meta property="og:image" content="">
  <meta property="og:url" content="">

  <link rel="icon" type="image/png" href="../favicon.ico">
  <link rel="stylesheet" href="../css/style.css">

  <script>
    // 로그인 체크 변수
    var loginState = false;

    // 알림 유무 변수
    var alrim = true;
  </script>

</head>

<body>

  <div class="skip-nav">
    <a href="#contents">본문 바로가기</a>
  </div>

  <!-- wrap -->
  <div id="wrap" class="<!--@@var wrapClass-->">
    <!-- header -->
    <header id="header">
      <div class="h1-gnb">
        <h1>
          <a href=""><img src="../images/common/logo.png" alt="NOW BEGIN"></a>
        </h1>
        <nav id="gnb">
          <ul>
            <li>
              <a href="">Dance</a>
            </li>
            <li>
              <a href="">Fitness</a>
            </li>
            <li>
              <a href="">Pilates</a>
            </li>
            <li>
              <a href="">Yoga</a>
            </li>
            <li>
              <a href="">Zumba</a>
            </li>
            <li>
              <a href="">Pole Dance</a>
            </li>
            <li>
              <a href="">Meditation</a>
            </li>
            <li>
              <a href="">Event</a>
            </li>
          </ul>
        </nav>
      </div>
      <ul class="top-utill">
        <li class="search">
          <form action="">
            <span class="in"><input type="text" placeholder="검색어를 입력해주세요"></span>
            <button type="button"><img src="../images/common/top_ico_search.png" alt="검색"></button>
          </form>
        </li>
        <li class="alert">
          <a href="">
            <img src="../images/common/top_ico_alert.png" alt="알림">
            <span class="num">9+</span>
          </a>
        </li>
        <li class="mypage">
          <a href="">
            <img src="../images/common/top_ico_mypage.png" alt="마이페이지">
          </a>
        </li>
        <li class="mypage"><!-- 로그인일 경우 -->
          <a href="" class="in-login">
            <img src="../images/common/top_ico_mypage.png" alt="마이페이지">
          </a>
          <div class="user-layer">
            <a href="">마이페이지</a>
            <a href="">로그아웃</a>
          </div>
        </li>
      </ul>
    </header>
    <!-- //header -->

    <!-- layer -->
    <div class="layer">
      <div class="dim"></div>
      <div class="layer-wrap"></div>
    </div>
    <!-- //layer -->

    <!-- contents -->
    <section id="contents">
      <!--@@placeholder = contents -->
    </section>
    <!-- //contents -->

    <!-- footer -->
    <footer id="footer">
      <h2 class="invisible">하단 영역</h2>
      <p class="foot-logo"><img src="../images/common/foot_logo.png" alt="NOW BEGIN"></p>
      <div class="foot-info">
        <div>
          에이치두㈜ 대표 : 신도성 개인정보관리책임자:서덕유 사업자등록번호:584-87-01906 통신판매업 2020-서울서초-1234
        </div>
        <div>
          사업장 소재지 : <address>서울특별시 서초구 논현로 175, 신한빌딩 4층 (양재동)</address> 이메일 : <a href="mailto:help@thenowbegin.com">help@thenowbegin.com</a>
        </div>
        <div>
          전화 : 070-4048-6562 (월-금 09:30-11:30 / 13:00-18:00 공휴일 제외)
        </div>
      </div>
      <ul class="foot-utill">
        <li>
          <a href="">About</a>
        </li>
        <li>
          <a href="">FAQ</a>
        </li>
        <li>
          <a href="">이용약관</a>
        </li>
        <li>
          <a href="">개인정보 보호정책</a>
        </li>
      </ul>
      <ul class="foot-sns">
        <li>
          <a href=""><img src="../images/common/foot_sns_youtube.png" alt="youtube"></a>
        </li>
        <li>
          <a href=""><img src="../images/common/foot_sns_facebook.png" alt="facebook"></a>
        </li>
        <li>
          <a href=""><img src="../images/common/foot_sns_twiter.png" alt="twiter"></a>
        </li>
        <li>
          <a href=""><img src="../images/common/foot_sns_instagram.png" alt="instagram"></a>
        </li>
      </ul>
    </footer>
    <!-- //footer -->

  </div>
  <!-- //wrap -->

  <!-- jquery cdn -->
  <script src="../js/ui_js.js"></script>
</body>

</html>